# FastAPI Settings
APP_NAME=
APP_VERSION=
DEBUG=

# Database Configuration
DATABASE_URL=

# JWT Settings
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Server
HOST=
PORT=
